<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="2ae73d54-051e-4721-aab4-ee9e5153eb40" Alias="cardImages" Level="1">
  <Info>
    <Name>Card Images</Name>
    <Icon>icon-playing-cards color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties />
  <Structure>
    <MediaType Key="cc07b313-0843-4aa8-bbda-871c8da728c8" SortOrder="0">Image</MediaType>
  </Structure>
  <Tabs />
</MediaType>