<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cdfe74be-073e-4fb7-ac59-f7fc9887d02a" Alias="accountDecks" Level="2">
  <Info>
    <Name>Account Decks</Name>
    <Icon>icon-bulleted-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages</Folder>
    <Compositions />
    <DefaultTemplate>AccountDecks</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ee0484c3-a3ad-4160-9b65-bfa113528ee6">AccountDecks</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>