<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4c4ff109-28dc-4b47-8d6f-68faeaa401c8" Alias="accountLists" Level="2">
  <Info>
    <Name>Account Lists</Name>
    <Icon>icon-playlist color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages</Folder>
    <Compositions />
    <DefaultTemplate>AccountLists</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e1cb7933-d946-4e94-b806-6c8303d06cc4">AccountLists</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>