<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="796f6236-89ef-4880-85f1-bad5480e8b78" Alias="accountPage" Level="2">
  <Info>
    <Name>Account Page</Name>
    <Icon>icon-badge color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="cdfe74be-073e-4fb7-ac59-f7fc9887d02a" SortOrder="0">accountDecks</ContentType>
    <ContentType Key="4c4ff109-28dc-4b47-8d6f-68faeaa401c8" SortOrder="1">accountLists</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>