<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ef6a9dc5-becf-4fd5-86ef-9def77e6e0ed" Alias="adSettings" Level="2">
  <Info>
    <Name>Ad Settings</Name>
    <Icon>icon-radio color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>6.+Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e47080ca-5fc4-4815-bac0-0099d72977ee" SortOrder="0">adServerCampaign</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>