<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="13f71b12-5993-4d68-b0dc-83b172c76be2" Alias="blogOverview" Level="2">
  <Info>
    <Name>Blog Overview</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages</Folder>
    <Compositions />
    <DefaultTemplate>BlogOverview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="16cc45d9-4241-4d7a-87da-bd08eb936c0e">BlogOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="94d0caab-b8a5-429e-b4a2-25590cf5e9a0" SortOrder="0">contentPage</ContentType>
    <ContentType Key="ace15b31-7afb-4eb7-b9e4-147b1947be7c" SortOrder="1">blogDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a6f2dfec-22a9-4fa3-a135-a9f2fe2eec97</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>343d3894-80f3-449d-bfbb-3b157873fdd6</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>