<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="94d6fc8b-0c18-4f0d-ac1a-f24620b15c02" Alias="cardDetail" Level="2">
  <Info>
    <Name>Card Detail</Name>
    <Icon>icon-vcard color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages</Folder>
    <Compositions />
    <DefaultTemplate>CardDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dd630553-e30d-4182-a2da-4eb89cc9c797">CardDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>764ad5d7-479b-49df-8048-b54c1e5bf507</Key>
      <Name>Card Info</Name>
      <Alias>cardInfo</Alias>
      <Definition>9398b3c1-5c19-44fe-bbdc-c62fb30f390f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ce729157-1752-46e7-bbe5-cb6099ed8df4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>