<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="765e3b99-542d-4ee5-9b2b-ffcf9034ff62" Alias="cardAttributeContainer" Level="3">
  <Info>
    <Name>Card Attribute Container</Name>
    <Icon>icon-attachment color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>4.+Data/Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="aef42295-87d1-4b08-9794-7ab15bef4e33" SortOrder="0">cardAttribute</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>