<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4d5c9619-12fb-45c9-bcb4-e51249483028" Alias="cardContainer" Level="3">
  <Info>
    <Name>Card Container</Name>
    <Icon>icon-vcard color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>4.+Data/Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="697f9eee-fb74-4125-97f3-4c9acf9f76c4" SortOrder="0">card</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>