<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="48b09fba-938a-4ecb-87d1-36786b85335a" Alias="contentCreatorContainer" Level="3">
  <Info>
    <Name>Content Creator Container</Name>
    <Icon>icon-operator color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>4.+Data/Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a0f27847-be94-48f0-9dcb-d82112b88736" SortOrder="0">contentCreatorItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>