<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3109a3b0-f4af-4251-abb6-8865a9421a52" Alias="createSquad" Level="2">
  <Info>
    <Name>Create Squad</Name>
    <Icon>icon-umb-deploy color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages</Folder>
    <Compositions />
    <DefaultTemplate>CreateSquad</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d3e32316-253d-4b80-bf6c-a128e6eb8a16">CreateSquad</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e358e2ba-172f-4212-9293-15a9e72d537d</Key>
      <Name>Filters</Name>
      <Alias>filters</Alias>
      <Definition>cc0c9835-55c3-4234-86f0-dd193af4d671</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0007445d-bd2f-4b0e-b045-83425f812b98</Key>
      <Name>Setting Type</Name>
      <Alias>settingType</Alias>
      <Definition>b615d9b1-af9f-4a08-8fc0-93f9bfef25fd</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>891910b4-801f-4442-b4a0-9e04cb62d0f2</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>