<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aeec97fc-ec8e-4054-82d8-695aac24ff17" Alias="createDeck" Level="2">
  <Info>
    <Name>Create Deck</Name>
    <Icon>icon-umb-deploy color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages</Folder>
    <Compositions />
    <DefaultTemplate>CreateDeck</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9488164d-e171-43a6-895f-614db37be416">CreateDeck</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>