<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="de35c559-8d7f-4ccb-b77f-4728df5a7d34" Alias="createCard" Level="2">
  <Info>
    <Name>Create Card</Name>
    <Icon>icon-brush color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages</Folder>
    <Compositions />
    <DefaultTemplate>CreateCard</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3f0288c3-48c8-4796-bc6a-83da3ee4979e">CreateCard</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>