<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd11c204-bf12-4a73-a203-05303e67ad8a" Alias="data" Level="3">
  <Info>
    <Name>Data</Name>
    <Icon>icon-server-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>4.+Data/Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="250ac57d-716a-4ca2-a354-610437182055" SortOrder="0">setContainer</ContentType>
    <ContentType Key="765e3b99-542d-4ee5-9b2b-ffcf9034ff62" SortOrder="1">cardAttributeContainer</ContentType>
    <ContentType Key="48b09fba-938a-4ecb-87d1-36786b85335a" SortOrder="2">contentCreatorContainer</ContentType>
    <ContentType Key="3375cfd8-ae6c-4646-914c-7a708dce21ce" SortOrder="3">variantsContainer</ContentType>
    <ContentType Key="4d5c9619-12fb-45c9-bcb4-e51249483028" SortOrder="4">cardContainer</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>