<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="805b4136-8277-4788-9c9d-50d455c481ee" Alias="forgotPassword" Level="2">
  <Info>
    <Name>Forgot Password</Name>
    <Icon>icon-parachute-drop color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages</Folder>
    <Compositions />
    <DefaultTemplate>ForgotPassword</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5eb88850-0d7b-4284-ae6d-a94069111a67">ForgotPassword</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>