<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ae3e7551-1f43-4784-aec1-6771b7ddd018" Alias="headerTextItemAbilityValue" Level="3">
  <Info>
    <Name>Header Text Item Ability Value</Name>
    <Icon>icon-attachment color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>5.+Elements/Attribute+Values</Folder>
    <Compositions>
      <Composition Key="2a3f85e3-0c71-4c75-9b28-e85e8b0e7e1d">abilityValue</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8be1db91-142c-4992-a323-6721dd6f7d53</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>50a06020-d24f-4824-bd42-81111e0fa1bf</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4b18c762-f4f3-4d62-8fac-44cc6baea792</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>