<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e02e98e8-92b3-4c3f-b226-7c2a44f3f3d7" Alias="homepage" Level="2">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages</Folder>
    <Compositions>
      <Composition Key="cad549c8-e991-44d5-81b7-1cae8200289a">contentComposition</Composition>
    </Compositions>
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="54c577cf-0079-44fe-9978-9d4fe31bc1d2">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5216ba72-df1e-49c8-bbf6-3f50f5f61911" SortOrder="0">deckOverview</ContentType>
    <ContentType Key="37755877-65d0-4c0e-9e4b-4a72ef5885dd" SortOrder="1">cardOverview</ContentType>
    <ContentType Key="aeec97fc-ec8e-4054-82d8-695aac24ff17" SortOrder="2">createDeck</ContentType>
    <ContentType Key="3109a3b0-f4af-4251-abb6-8865a9421a52" SortOrder="3">createSquad</ContentType>
    <ContentType Key="6e5bb37e-0db2-44a7-8c1b-904738a0a08e" SortOrder="4">login</ContentType>
    <ContentType Key="5b8191b1-a75e-4f00-9fd0-c93cb23b266f" SortOrder="5">register</ContentType>
    <ContentType Key="796f6236-89ef-4880-85f1-bad5480e8b78" SortOrder="6">accountPage</ContentType>
    <ContentType Key="94d0caab-b8a5-429e-b4a2-25590cf5e9a0" SortOrder="7">contentPage</ContentType>
    <ContentType Key="805b4136-8277-4788-9c9d-50d455c481ee" SortOrder="8">forgotPassword</ContentType>
    <ContentType Key="ea48036e-00dc-4aa9-bc51-df55653bbd99" SortOrder="9">listDetail</ContentType>
    <ContentType Key="079a9e14-0659-43e3-a4ec-1502c823d005" SortOrder="10">listEdit</ContentType>
    <ContentType Key="13f71b12-5993-4d68-b0dc-83b172c76be2" SortOrder="11">blogOverview</ContentType>
    <ContentType Key="17898844-298d-4895-a684-b5c0e6d037ec" SortOrder="12">setOverview</ContentType>
    <ContentType Key="de521405-ebd2-4ba0-a262-19382f1bb1a5" SortOrder="13">collectionPage</ContentType>
    <ContentType Key="de35c559-8d7f-4ccb-b77f-4728df5a7d34" SortOrder="14">createCard</ContentType>
    <ContentType Key="dd11c204-bf12-4a73-a203-05303e67ad8a" SortOrder="15">data</ContentType>
    <ContentType Key="5495c2cf-5134-43f9-8d40-a86c2ac7ba6e" SortOrder="16">settings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>