<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ea48036e-00dc-4aa9-bc51-df55653bbd99" Alias="listDetail" Level="2">
  <Info>
    <Name>List Detail</Name>
    <Icon>icon-playlist color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages</Folder>
    <Compositions />
    <DefaultTemplate>ListDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b31f8904-b4c5-40e1-bf42-e2d53ef24116">ListDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>