<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="079a9e14-0659-43e3-a4ec-1502c823d005" Alias="listEdit" Level="2">
  <Info>
    <Name>List Edit</Name>
    <Icon>icon-edit color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages</Folder>
    <Compositions />
    <DefaultTemplate>ListEdit</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7965d678-cce3-4163-a0ed-cc277c68b487">ListEdit</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>