<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c7eccc6b-ed58-4e3a-9caa-126a1ad5f60c" Alias="metaCardOverview" Level="3">
  <Info>
    <Name>Meta Card Overview</Name>
    <Icon>icon-trophy color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages/Meta</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a4fbbf8f-c121-498f-9247-f1b772af1deb" SortOrder="0">metaCardDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2d26a81a-0d8c-46b7-ba84-eb3eec47109a</Key>
      <Name>Card requirement</Name>
      <Alias>cardRequirement</Alias>
      <Definition>76a6e41b-f3f6-4f0d-92f3-ae3b47f861e1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ad17b5ad-c4c4-4120-9ddd-d919352b232e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>