<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5b8191b1-a75e-4f00-9fd0-c93cb23b266f" Alias="register" Level="2">
  <Info>
    <Name>Register</Name>
    <Icon>icon-addressbook color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages</Folder>
    <Compositions />
    <DefaultTemplate>Register</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="85372cb9-7eb6-4b36-8168-d5c669f56dc4">Register</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>