<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bec1b68f-8e84-4589-bccd-fcb83cbb9dbb" Alias="setDetail" Level="3">
  <Info>
    <Name>Set Detail</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages/Sets</Folder>
    <Compositions>
      <Composition Key="7e392851-0368-4345-8f9c-7164061bf66f">introductionComposition</Composition>
    </Compositions>
    <DefaultTemplate>SetDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5be71e91-0bc3-43a7-8e88-c8413d25e7af">SetDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>