<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5495c2cf-5134-43f9-8d40-a86c2ac7ba6e" Alias="settings" Level="2">
  <Info>
    <Name>Settings</Name>
    <Icon>icon-settings-alt color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>6.+Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5339dc58-f560-4bf7-9c2c-67c8a95629f3" SortOrder="0">deckSettings</ContentType>
    <ContentType Key="d4d1d6ef-95c1-4444-af25-1dee53fcc1ee" SortOrder="1">discordSettings</ContentType>
    <ContentType Key="52191202-6024-4df6-bc5b-6685f2ddfcf6" SortOrder="2">siteSettings</ContentType>
    <ContentType Key="9fa516b5-2e4d-4406-b6df-452f77b2eb6f" SortOrder="3">squadSettings</ContentType>
    <ContentType Key="c5af18e4-4b71-464d-9df9-c5c9dcacb691" SortOrder="4">cardSettings</ContentType>
    <ContentType Key="37f63706-1aea-47ed-822d-feff1ba6866a" SortOrder="5">collectionSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>