<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3375cfd8-ae6c-4646-914c-7a708dce21ce" Alias="variantsContainer" Level="3">
  <Info>
    <Name>Variants Container</Name>
    <Icon>icon-clubs color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>4.+Data/Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7db532af-67db-432e-b772-778adacc7b93" SortOrder="0">variant</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>