<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b4ed54e-ae05-4a49-8333-1d0f14e63f57" Alias="Block List - Mapping" Level="1">
  <Info>
    <Name>Block List - Mapping</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2258b517-8d9b-432b-8ed9-ab57f856f537",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Mapping",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>