<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98891beb-80de-455c-bef2-c0e0dc3638d7" Alias="Block List - Squads" Level="1">
  <Info>
    <Name>Block List - Squads</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "42c0aad0-088c-43ff-9536-c39a0db3624b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>