<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ab8c2ddd-b91f-4ee6-b5a5-485d91ac25b3" Alias="Block List - Squads (single)" Level="1">
  <Info>
    <Name>Block List - Squads (single)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "42c0aad0-088c-43ff-9536-c39a0db3624b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 1,
    "min": 0
  }
}]]></Config>
</DataType>