<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95359aec-016d-4356-bee4-5d4fefd9c297" Alias="Color Picker - Faction Colors" Level="1">
  <Info>
    <Name>Color Picker - Faction Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"298242\",\"label\":\"298242\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"fef187\",\"label\":\"fef187\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"1766ae\",\"label\":\"1766ae\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"bf1c1d\",\"label\":\"bf1c1d\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>