<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e2e31fa-64db-494f-a877-a3169a9d5342" Alias="Decimal - StepSize 0.1" Level="1">
  <Info>
    <Name>Decimal - StepSize 0.1</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "step": 0.1
}]]></Config>
</DataType>