<?xml version="1.0" encoding="utf-8"?>
<DataType Key="857da659-0112-4ea3-a2d1-8616c45feeef" Alias="Dropdown - Compute" Level="1">
  <Info>
    <Name>Dropdown - Compute</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Sum"
    },
    {
      "id": 2,
      "value": "Count"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>