<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6040b1b7-dc2e-4195-8802-cab19c06b6a9" Alias="Dropdown - Restriction Type" Level="1">
  <Info>
    <Name>Dropdown - Restriction Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Hard"
    },
    {
      "id": 2,
      "value": "Passive"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>