<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0699f0dc-7ab2-4484-9676-2a87c3fa53ab" Alias="Dropdown - Pdf Size" Level="1">
  <Info>
    <Name>Dropdown - Pdf Size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "A4"
    },
    {
      "id": 2,
      "value": "Letter"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>