<?xml version="1.0" encoding="utf-8"?>
<DataType Key="466c2afe-0cee-47f3-b711-0c1f4bdbe720" Alias="Dropdown - Card Type" Level="1">
  <Info>
    <Name>Dropdown - Card Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "MostPopular"
    },
    {
      "id": 2,
      "value": "Recent"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>