<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b5a41c2-99ae-4700-9b24-f8cbe3bd48f7" Alias="Dropdown - Name Position" Level="1">
  <Info>
    <Name>Dropdown - Name Position</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Inline"
    },
    {
      "id": 2,
      "value": "Heading"
    },
    {
      "id": 3,
      "value": "None"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>