<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55857895-c2d5-4d6a-a9ab-c2f34856d06a" Alias="Dropdown - Display options" Level="1">
  <Info>
    <Name>Dropdown - Display options</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Text"
    },
    {
      "id": 2,
      "value": "Images"
    }
  ],
  "Multiple": true
}]]></Config>
</DataType>