<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62793de9-a1b5-461d-bfea-7b9d5458e30d" Alias="Dropdown - Slot Display size" Level="1">
  <Info>
    <Name>Dropdown - Slot Display size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Small"
    },
    {
      "id": 2,
      "value": "Medium"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>