<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82051f52-1761-48b0-8190-92d4312eea49" Alias="Dropdown - Detail Display Type" Level="1">
  <Info>
    <Name>Dropdown - Detail Display Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "CardImage"
    },
    {
      "id": 2,
      "value": "CardName"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>