<?xml version="1.0" encoding="utf-8"?>
<DataType Key="783bf7ed-7439-490c-88bd-6944d149e617" Alias="Dropdown - Tag Type" Level="1">
  <Info>
    <Name>Dropdown - Tag Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Blog post"
    },
    {
      "id": 2,
      "value": "Podcast"
    },
    {
      "id": 3,
      "value": "Video"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>