<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a29da469-9ee3-4a07-a450-7b0ba9095bfa" Alias="Dropdown - Compute Comparison" Level="1">
  <Info>
    <Name>Dropdown - Compute Comparison</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Equal"
    },
    {
      "id": 2,
      "value": "HigherThan"
    },
    {
      "id": 3,
      "value": "LowerThan"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>