<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dee4e9b7-df63-4fbf-85ef-9c314933941d" Alias="Eye Dropper Color Picker - Main Color" Level="1">
  <Info>
    <Name>Eye Dropper Color Picker - Main Color</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": false
}]]></Config>
</DataType>