<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d19b93c-572f-4c30-9e32-bd6944a51c9b" Alias="Grid - Block Grid" Level="1">
  <Info>
    <Name>Grid - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "982137aa-5142-4651-bb09-acaa4829c873",
      "name": "Content"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "8bf57cbe-46ee-4349-8c18-43f453916362",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "Header",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "Content",
          "columnSpan": 12,
          "createLabel": null,
          "key": "1b73449e-5144-463f-af9a-36946cedb397",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": null,
              "groupKey": "982137aa-5142-4651-bb09-acaa4829c873",
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "7e9f0ff7-536b-48ab-a6e8-3a21dacadb60",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "fd899297-aaf5-4926-84f3-9e9fa4819658",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "982137aa-5142-4651-bb09-acaa4829c873",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "8f0406a0-d469-46cf-b71d-cd1287208a8a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "982137aa-5142-4651-bb09-acaa4829c873",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "c92dbe45-a2b9-459c-8061-cdc1b7c6910c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "982137aa-5142-4651-bb09-acaa4829c873",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{title}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "d7736479-a8cf-463c-9713-107a8b2a811d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "982137aa-5142-4651-bb09-acaa4829c873",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Advertisement Banner",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "3750be7d-dc34-49d9-b0a5-c4d76af04361",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "982137aa-5142-4651-bb09-acaa4829c873",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Skill Display",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "fd92b475-1f8c-461b-8d75-136dc0154a44",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "982137aa-5142-4651-bb09-acaa4829c873",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "bfbfcb65-3974-40c7-9c44-67c569739c7e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "982137aa-5142-4651-bb09-acaa4829c873",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Google Ad Banner",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "86fb7928-148f-4cf7-8147-23a40a459d26",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "982137aa-5142-4651-bb09-acaa4829c873",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{title}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>