<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1df9f033-e6d4-451f-b8d2-e0cbc50a836f" Alias="Image Cropper" Level="1">
  <Info>
    <Name>Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Header",
      "height": 400,
      "width": 1920
    },
    {
      "alias": "Banner Desktop",
      "height": 180,
      "width": 1140
    },
    {
      "alias": "Banner Mobile",
      "height": 120,
      "width": 280
    },
    {
      "alias": "Icon",
      "height": 120,
      "width": 120
    },
    {
      "alias": "CardImage",
      "height": 210,
      "width": 380
    },
    {
      "alias": "Ad Desktop",
      "height": 250,
      "width": 2400
    },
    {
      "alias": "Ad Tablet",
      "height": 180,
      "width": 1456
    },
    {
      "alias": "Ad Mobile",
      "height": 200,
      "width": 640
    }
  ]
}]]></Config>
</DataType>