<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72d203c6-1feb-463b-863f-cafa466fc440" Alias="Media Picker - Card Image Root" Level="1">
  <Info>
    <Name>Media Picker - Card Image Root</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "cardImages",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>