<?xml version="1.0" encoding="utf-8"?>
<DataType Key="028b5983-cb96-40d4-b1a5-bf75fd234368" Alias="Multinode Treepicker - Set (single)" Level="1">
  <Info>
    <Name>Multinode Treepicker - Set (single)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "set",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Root",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "250ac57d-716a-4ca2-a354-610437182055"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>