<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4b19e1b-7c95-44dd-a5d6-62daed978143" Alias="Multinode Treepicker - Squad Settings (multiple)" Level="1">
  <Info>
    <Name>Multinode Treepicker - Squad Settings (multiple)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "squadSettings",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Root",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "5495c2cf-5134-43f9-8d40-a86c2ac7ba6e"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>