<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b615d9b1-af9f-4a08-8fc0-93f9bfef25fd" Alias="Multinode Treepicker - Squad settings (single)" Level="1">
  <Info>
    <Name>Multinode Treepicker - Squad settings (single)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "squadSettings",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Root",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "5495c2cf-5134-43f9-8d40-a86c2ac7ba6e"
          ]
        }
      ]
    },
    "id": null,
    "query": "",
    "type": "content"
  }
}]]></Config>
</DataType>