<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b49341a-2986-4b98-90ed-81607a4f2e1e" Alias="Multinode Treepicker - Variant Types (multiple)" Level="1">
  <Info>
    <Name>Multinode Treepicker - Variant Types (multiple)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "variant",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Root",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "3375cfd8-ae6c-4646-914c-7a708dce21ce"
          ]
        }
      ]
    },
    "id": null,
    "query": "",
    "type": "content"
  }
}]]></Config>
</DataType>