<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85b1e653-59aa-46e6-843e-b38895a38710" Alias="Multinode Treepicker - Attributes (multiple)" Level="1">
  <Info>
    <Name>Multinode Treepicker - Attributes (multiple)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "cardAttribute",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>