<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6092570c-f887-4aa4-983c-7bfe9b8bf744" Alias="Multinode Treepicker - Card Info (multiple)" Level="1">
  <Info>
    <Name>Multinode Treepicker - Card Info (multiple)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "card",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>