<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9398b3c1-5c19-44fe-bbdc-c62fb30f390f" Alias="Multinode Treepicker - Card Info (single)" Level="1">
  <Info>
    <Name>Multinode Treepicker - Card Info (single)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "card,cardVariant",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Root",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "4d5c9619-12fb-45c9-bcb4-e51249483028"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>