<?xml version="1.0" encoding="utf-8"?>
<DataType Key="60169d33-c3c8-4f85-884d-37ef4e68d2ac" Alias="Multinode Treepicker - Cards and Variants (multiple)" Level="1">
  <Info>
    <Name>Multinode Treepicker - Cards and Variants (multiple)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "card,cardVariant",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Root",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "4d5c9619-12fb-45c9-bcb4-e51249483028"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>