<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0744b29-2def-4065-a0a4-eaef11107ade" Alias="Multinode Treepicker - Set (multiple)" Level="1">
  <Info>
    <Name>Multinode Treepicker - Set (multiple)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "set",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Root",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "250ac57d-716a-4ca2-a354-610437182055"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>