<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eef0e471-ca9f-40a3-aef5-0ff14faace2a" Alias="Multinode Treepicker - Attribute (single)" Level="1">
  <Info>
    <Name>Multinode Treepicker - Attribute (single)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "cardAttribute",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Root",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "765e3b99-542d-4ee5-9b2b-ffcf9034ff62"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>