<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f24e0db8-ca58-43c1-9836-cb9105c13427" Alias="Toggle - ExcludeInclude" Level="1">
  <Info>
    <Name>Toggle - ExcludeInclude</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Include",
  "LabelOn": "Exclude",
  "ShowLabels": true
}]]></Config>
</DataType>