<div class="card">
    <a class="card-header" href="#">
        <div class="card-image">
            <img src="/images/TestCastle.png"/>
        </div>
        <div class="info">
            <p class="name">Name of the deck</p>
            <p class="hero">The Frostbide Stronghold</p>
        </div>
    </a>
    <div class="card-body">
        <div class="info">
            <div class="author">
                <p>By <a href="#">Patrick</a></p>
            </div>
            <div class="date">
                3 days ago
            </div>
        </div>
    </div>
</div>